<div class="products-table">
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Created At</th>
          </tr>
        </thead>

        <tbody>
          <%= render @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>
