<div class="sales-table">
  <div class="row">
    <div class="col-8">
      <table class="table table-sm">
        <thead class="thead-inverse">
          <tr>
            <th>Product</th>
            <th>Cost</th>
            <th>Date of Purchase</th>
          </tr>
        </thead>

        <tbody>
          <%= render @sales %>
        </tbody>
      </table>
    </div>
  </div>
</div>
